.Hoods {
   font-family: ‘Roboto’, sans-serif;
   font-size: 60px;
   background-position: center;
 }


#main {
  background-color: black;
}

#nav-margin {
  background-color: transparent;
  height: 100px;
}

#navBarHeader {
  background-color: ;
}

#nav {
  background-color: ;
}

#loginForm {
  font-size: 2.0vw;
}


#navHome {
 font-family: ‘Roboto’, sans-serif;
 font-size: 20px;
 float: left;
 color: black;
}

#navNeighbors {
 font-family: ‘Roboto’, sans-serif;
 font-size: 20px;
 float: left;
 color: black;
}

#navBrowse {
 font-family: ‘Roboto’, sans-serif;
 font-size: 20px;
 float: left;
 color: black;
}


#navAccount{
 font-family: ‘Roboto’, sans-serif;
 font-size: 20px;
 float: right;
 color: black;
}

#navLogin{
 font-family: ‘Roboto’, sans-serif;
 font-size: 20px;
 float: right;
 color: black;
}

#main {
  background-color: black;
}

#nav-margin {
  background-color: transparent;
}

#navBarHeader {
  background-color: ;
}

#nav {
  background-color: ;
}

#loginForm {
  font-size: 1.0vw;
}

#signUpForm {
  font-size: 1.0vw;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#jumbotronSearch {
  background-color: rgba(179, 231, 193, 0.6);
  border-radius: 25px;
  max-width: 80%;
}

#signUpJumbo {
  background-color: rgba(179, 231, 193, 0.6);
  border-radius: 25px;
  max-width: 80%;
  margin-top: 22.5%;
}

#loginJumbo {
  background-color: rgba(179, 231, 193, 0.6);
  border-radius: 25px;
  max-width: 80%;
  margin-top: 5.7%;
}

#browseSpan {
    font-family: 'Bitter', sans-serif;
    font-size: 4.0vw;
  }


#spanLogin, #spanSignUp {
  font-family: 'Bitter', sans-serif;
  font-size: 3.0vw;
}

#Search {
    font-size: 2.5.0vw;
  }

#outerCard {
  background-color: rgba(116, 240, 150, 0.5);
  text: #141823 ;
  line spacing: -0.15px;
  line-height: 16px;
  border: none;
}

#cardImg {
  border-radius: 25px;
  padding-bottom: 10px;
  width: 300px;
  height: 300px;
}

#innerCard {
  background-color: transparent;
  width: 100%;
  border: none;
}

#cardTitle {
  margin-left: 20px;
  color: #141823;
  font-family: 'Bitter';
  font-size: 20px;
}

#cardSubtitle {
  margin-left: 15px;
  padding-top: 5px;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#cardText {
  margin-left: 15px;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#itemOwner {
  margin-left: 15px;
  color: #333;
  font-size: 15px;
  font-family: 'Raleway' sans-serif;
  font-weight: 200;
  height: 40px
}

.fa {
  float: right;
  border-radius: 25px;
}

#faMail {
  color: #333;
}

#newUserLink {
  font-size: 15px;
  color: #333;
  font-family: 'Raleway' sans-serif;
  font-weight: 500;
}

#logo {
  width: 100%;
  margin-left: -40%;
}

#logoDiv {
  width: 50%;
}

#loginDiv {
  margin-top: 15%;
}

#mainLogo, #createAccountMainLogo {
  width: 100vw;
  overflow: hidden;
}

#mainImg, #createAccountMainImage {
  width: 100%;
  margin-top: -43%;
}

#imgPlease, #createAccountImgPlease {
  width: 100%;
  overflow: hidden;
}

#createAccountLogoDiv {
  width: 50%;
}

#createAccountLoginDiv {
  width: 100vw;
  overflow: hidden;
}

#browseJumboDiv {
  padding-top: 5%;
}
