.Hoods {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    background-position: center;
  }

.navHome {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  float: left;
}
.navBrowse {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  float: left;
}
.navActivity {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  float: right;
}
.navAccount{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  float: right;
}
.navLogin{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  float: right;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}
